In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("../files/survey_results_public.csv", index_col="Respondent", sep=",", nrows=1000, usecols=[
    "Respondent",
    "MainBranch",
    "Employment",
    "Country",
    "EdLevel",
    "YearsCode",
    "YearsCodePro",
    "ConvertedComp",])

In [12]:
df

,MainBranch,ConvertedComp,Country,EdLevel,Employment,YearsCode,YearsCodePro
Respondent,,,,,,,
1,I am a developer by profession,NaN,Germany,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",36,27
2,I am a developer by profession,NaN,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,7,4
3,I code primarily as a hobby,NaN,Russian Federation,NaN,NaN,4,NaN
4,I am a developer by profession,NaN,Albania,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,7,4
5,"I used to be a developer by profession, but no...",NaN,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,15,8
...,...,...,...,...,...,...,...
999,I am a developer by profession,NaN,Lebanon,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,15,3
1000,I am a developer by profession,26400.0,Belarus,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,12,4
1001,I am a developer by profession,155000.0,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,23,19
1002,I code primarily as a hobby,NaN,United States,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,10,NaN
1003,I am a developer by profession,49160.0,Canada,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,13,5

In [ ]:
filter_high_salary = (df["ConvertedComp"] > 10000) & (df["Country"] == "Hungary")
df.loc[filter_high_salary, ["Country", "ConvertedComp"]].sort_values(by="ConvertedComp", ascending=False, inplace=True).head(100)

            Country  ConvertedComp
Respondent
622         Hungary        38484.0
171         Hungary        29628.0

In [ ]:
df.dropna(subset=["ConvertedComp"], inplace=True)

In [ ]:
df.dropna(axis="columns", inplace=True, how="any")